 
    {% load static %}
     
<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cúbico, Consultores & Constructores</title>

        <link rel="stylesheet" href="{% static 'styles.css' %}" />
            
        <link 
            rel="stylesheet" 
            href="{% static 'tablet.css' %}" 
            media="screen and (min-width: 540px)">
            <link 
            rel="stylesheet" 
            href="{% static 'desktop.css' %}" 
            media="screen and (min-width: 834px)">

            <!--Fuente-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>

    
    <header>
    <nav class="navbar_container">
        <div class="logo"><img src="{% static 'images/logocubico.png' %}" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false"></div>
        <ul class="nav_menu">
            <li class="nav_item"><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="nav_item"><a href="{% url 'Nosotros' %}">Nosotros</a></li>
            <li class="nav_item"><a href="{% url 'Galeria' %}">Galería</a></li>
            <li class="nav_item"><a href="{% url 'Contacto' %}">Contacto</a></li>
        </ul>
    </nav>
    </header>
  
    <!--Contenido que cambia--->
    {% block content %}

    {% endblock %}




    <footer>
        <section class ="left"> 
            <ul>
            <li>CONTACTO</li>
            <li><hr></li>
            <li id="email_footer">cubicoconsultores@gmail.com</li>
            <li>Teléfono - -</li>
            <li>
                <a href="https://api.whatsapp.com/send?phone=52"><img src="{% static 'images/whatsapplogo.png' %}" alt="Logo de Whatsapp" title="Chat a Whatsapp"></a>
                <a href="https://www.facebook.com/"><img src="{% static 'images/facebooklogo2.png' %}" alt="Logo de Facebook" title="Página de Facebook"></a>
            </li>
            </ul>
        </section>
        <section class="right">
            <ul>
            <li><img src="{% static 'images/logofooter2.png' %}" alt="Logo de la empresa: Cubico" oncontextmenu="return false"></li>
            <li>®Derechos reservados | 2022.</li>
            </ul>
            </section>
            
        </footer>
</html> 