{% load static %}
<footer>
    <section class ="left"> 
        <ul>
        <li>CONTACTO</li>
        <li><hr></li>
        <li id="email_footer">cubicoconsultores@gmail.com</li>
        <li>Tel. 9611771231</li>
        <li>
            <a href="https://api.whatsapp.com/send?phone=529611771231"><img src="{% static 'images/whatsapplogo.png' %}" alt="Logo de Whatsapp" title="Chat a Whatsapp"></a>
            <a href="https://www.facebook.com/"><img src="{% static 'images/facebooklogo2.png' %}" alt="Logo de Facebook" title="Página de Facebook"></a>
        </li>
        </ul>
    </section>
    <section class="right">
        <ul>
        <li><img src="{% static 'images/logofooter2.png' %}" alt="Logo de la empresa: Cubico" oncontextmenu="return false"></li>
        <li>®Derechos reservados | 2022.</li>
        </ul>
        </section>
        
    </footer>