 
    {% load static %}
     
 
    <header>
    <nav class="navbar_container">
        <div class="logo"><img src="{% static 'images/logocubico.png' %}" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false"></div>
        <ul class="nav_menu">
            <li class="nav_item"><a href="">Inicio</a></li>
            <li class="nav_item"><a href="{ }">Nosotros</a></li>
            <li class="nav_item"><a href="{ }">Galería</a></li>
            <li class="nav_item"><a href="{ }">Contacto</a></li>
        </ul>
    </nav>
    </header>
 