<!DOCTYPE html>
<html lang="es">
 <head>
  

   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Document</title>
   <link rel="stylesheet" href="./css/styles.css" />
    
   <link 
      rel="stylesheet" 
      href="./css/tablet.css" 
      media="screen and (min-width: 540px)">
    <link 
      rel="stylesheet" 
      href="./css/desktop.css" 
      media="screen and (min-width: 834px)">

    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

   
 </head>
 <body>
  <header>
   <nav class="navbar_container">
     <div class="logo"><img src="./images/logocubico.png" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false"></div>
     <ul class="nav_menu">
        <li class="nav_item"><a href="./index.html">Inicio</a></li>
        <li class="nav_item"><a href="./nosotros.html">Nosotros</a></li>
        <li class="nav_item"><a href="./galeria.html">Galería</a></li>
        <li class="nav_item"><a href="./contacto.html">Contacto</a></li>
       
     </ul>
   </nav>
   </header>
   <main>
    


   </main>
   
   <footer>
    <section class ="left"> 
      <ul>
        <li>CONTACTO</li>
        <li><hr></li>
        <li id="email_footer">cubicoconsultores@gmail.com</li>
        <li>Tel. 9611771231</li>
        <li>
            <a href="https://api.whatsapp.com/send?phone=529611771231"><img src="./images/whatsapplogo.png" alt="Logo de Whatsapp" title="Chat a Whatsapp"></a>
            <a href="https://www.facebook.com/"><img src="./images/facebooklogo2.png" alt="Logo de Facebook" title="Página de Facebook"></a>
         </li>
       </ul>
    </section>
    <section class="right">
      <ul>
        <li><img src="./images/logofooter2.png" alt="Logo de la empresa: Cubico" oncontextmenu="return false"></li>
        <li>®Derechos reservados | 2022.</li>
      </ul>
      </section>
      
  </footer>
 </body>
</html>