{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Nuevo Proyecto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
</head>

    <h1>Agregar Nuevo Proyecto</h1>
    <article class="form-group">
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre del Proyecto:</label>
        <input type="text" name="nombre"><br>
        <label for="ubicacion">Ubicación:</label>
        <input type="text" name="ubicacion"><br>
        <label for="cliente">Cliente:</label>
        <input type="text" name="cliente"><br>
        <label for="presupuesto">Presupuesto:</label>
        <input type="number" name="presupuesto"><br>
        <label for="fecha_inicio">Fecha de Inicio:</label>
        <input type="date" name="fecha_inicio"><br>
        <label for="fecha_fin">Fecha de Fin:</label>
        <input type="date" name="fecha_fin"><br>
        <button type="submit">Agregar Proyecto</button>
    </form>
    </article>
    <br>
    <a class="back_dashboard" href="{% url 'custom_dashboard' %}">Volver a la Lista de Proyectos</a>
</body>
</html>