{% load static %}

<head>
  <title>App de Control</title>
  <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
</head>

<body>
  <main>
    <div class="container">
      <img src="{% static 'images/logocubico.png' %}" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false">

      <h1>Sesion iniciada</h1>
      <h2>¡Bienvenido, {{username}}!</h2>
    </div>

     <!-- Enlace para agregar un nuevo proyecto -->
     <a href="{% url 'agregar_proyecto' %}">Agregar Nuevo Proyecto</a>
    
     <!-- Sección de Listado de Proyectos -->
    <h3>Listado de Proyectos</h3>
    <ul>
        {% for proyecto in proyectos %}
            <li><a href="{% url 'detalle_proyecto' proyecto.id %}">{{ proyecto.nombre }}</a>
              <a href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a></li>
           
        {% empty %}
            <li>No hay proyectos registrados.</li>
        {% endfor %}
    </ul>
  </main>
</body>