{% load static %}

<head>
  <title>App de Control</title>
  <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
</head>

<body>
  <main>
    <div class="container">
      <img src="{% static 'images/logocubico.png' %}" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false">

      <h1>Sesion iniciada</h1>
      <h2>¡Bienvenido, {{username}}!</h2>
    </div>

    <!-- Barra de búsqueda -->
    <form method="get" action="{% url 'custom_dashboard' %}">
      <input type="text" name="search_proyect" placeholder="Buscar proyectos">
      <button type="submit">Buscar</button>
    </form>

    
          <a class="new-project-button" href="{% url 'agregar_proyecto' %}">Nuevo Proyecto</a>


    <!-- Lista de Proyectos -->
    <h3 class="project-title">Proyectos Existentes</h3>
    <ul class="project-list">
        {% if query %} {# Si se ha realizado una búsqueda #} 
            {% for proyecto in proyectos %}
                <li>
                    <a class="details-button" href="{% url 'detalle_proyecto' proyecto.id %}">{{ proyecto.nombre }}</a>
                    <a class="delete-button" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a>
                </li>
            {% empty %}
                <li>No se encontraron proyectos relacionados con la búsqueda.</li>
            {% endfor %}
        {% else %}
            {% for proyecto in proyectos %} {# Mostrar todos los proyectos si no hay búsqueda #}
                <li>
                    <a class="details-button" href="{% url 'detalle_proyecto' proyecto.id %}">{{ proyecto.nombre }}</a>
                    <a class="delete-button" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a>
                </li>
            {% empty %}
                <li>No hay proyectos registrados.</li>
            {% endfor %}
        {% endif %}
    </ul>

  </main>
</body>
