{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Proyecto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
    <link rel="stylesheet" href="{% static 'controlstyledesktop.css' %}"  media="screen and (min-width: 600px)"> <!-- Estilos para pantallas más grandes -->
</head>
<body>
    <h1>Detalle del Proyecto</h1>
 <div class="project-initials">
    <!-- Campos del proyecto -->
    <h2>{{ proyecto.nombre }}</h2>
    <p>Ubicación: {{ proyecto.ubicacion }}</p>
    <p>Cliente: {{ proyecto.cliente }}</p>
    <p>Presupuesto: {{ proyecto.presupuesto }}</p>
    <p>Fecha de Inicio: {{ proyecto.fecha_inicio }}</p>
    <p>Fecha de Fin: {{ proyecto.fecha_fin }}</p>
    <section class="nav-button">
        <a class="edit-button" href="{% url 'editar_proyecto' proyecto.id %}">Editar Proyecto</a>
        <a class="delete-button" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar Proyecto</a>
        <a class="back_dashboard" href="{% url 'custom_dashboard' %}">Volver a la lista</a>
    </section>
</div>
    <h2>Agregar Tarea</h2>
    <!-- Formulario para agregar nueva tarea -->
    <article class="form-group">
        <form method="post" action="">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" name="titulo"><br>
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion"></textarea><br>
            <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
            <input type="date" name="fecha_vencimiento"><br>
            <button type="submit">Agregar Tarea</button>
        </form>
    </article>
    <div class="task-columns">
        <div class="task-column">
          <h2>Tareas Pendientes</h2>
          <ul class="task-list">
            {% for tarea in tareas_pendientes %}
            <li>
              <!-- Formulario para marcar tareas como completadas -->
              <form method="post" action="{% url 'marcar_completada' tarea.id %}">
                {% csrf_token %}
                <input type="checkbox" name="tarea_{{ tarea.id }}" {% if tarea.completada %}checked{% endif %} onchange="this.form.submit()">
                <div class="task">
                  <div class="task-title">{{ tarea.titulo }}</div>
                  <div class="task-description">{{ tarea.descripcion }}</div>
                  <div class="task-finaldate">{{ tarea.fecha_vencimiento }}</div>
                </div>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="task-column">
          <h2>Tareas Completadas</h2>
          <ul class="task-list">
            {% for tarea in tareas_completadas %}
            <li>
              <div class="task">
                <div class="task-title">{{ tarea.titulo }}</div>
                <div class="task-description">{{ tarea.descripcion }}</div>
                <div class="task-finaldate">{{ tarea.fecha_vencimiento }}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    <h2>Subir un Plano</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="planos">
            <button type="submit">Confirmar</button>
        </form>

    <h2>Subir un Contrato</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="contratos">
            <button type="submit">Confirmar</button>
        </form>

    <div class="planos_contratos_list">
        <h2>Planos</h2>
        <ul class="archivos-list">  
          {% for plano in proyecto.planos.all %}
            <li>
              <span class="archivo-icon">📁</span> <!-- Icono de archivo -->
              <a href="{{ plano.archivo.url }}" target="_blank" class="archivo-nombre">{{ plano.archivo.name }}</a>
            </li>
          {% empty %}
            <p>No se han subido planos para este proyecto.</p>
          {% endfor %}
        </ul>

        <h2>Contratos</h2>
        <ul class="archivos-list">  
          {% for contrato in proyecto.contratos.all %}
            <li>
              <span class="archivo-icon">📁</span> <!-- Icono de archivo -->
              <a href="{{ contrato.archivo.url }}" target="_blank" class="archivo-nombre">{{ contrato.archivo.name }}</a>
            </li>
          {% empty %}
            <p>No se han subido contratos para este proyecto.</p>
          {% endfor %}
        </ul>
    </div>
</body>
</html>