{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Proyecto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">

</head>
<body>
    <h1>Detalle del Proyecto</h1>
    <!-- Campos del proyecto -->
    <h2>{{ proyecto.nombre }}</h2>
    <p>Ubicación: {{ proyecto.ubicacion }}</p>
    <p>Cliente: {{ proyecto.cliente }}</p>
    <p>Presupuesto: {{ proyecto.presupuesto }}</p>
    <p>Fecha de Inicio: {{ proyecto.fecha_inicio }}</p>
    <p>Fecha de Fin: {{ proyecto.fecha_fin }}</p>
   
    <a class="edit-button" href="{% url 'editar_proyecto' proyecto.id %}">Editar Proyecto</a>
    <a class="delete-button" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar Proyecto</a>
    <a class="back_dashboard" href="{% url 'custom_dashboard' %}">Volver al Dashboard</a>

    <h2>Agregar Tarea</h2>

    <!-- Formulario para agregar nueva tarea -->
    <article class="form-group">
        <form method="post" action="">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" name="titulo"><br>
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion"></textarea><br>
            <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
            <input type="date" name="fecha_vencimiento"><br>
            <button type="submit">Agregar Tarea</button>
        </form>
    </article>
    <h2>Tareas Pendientes</h2>
    <ul>
        {% for tarea in tareas_pendientes %}
        <li>
            <!-- Formulario para marcar tareas como completadas -->
            <form method="post" action="{% url 'marcar_completada' tarea.id %}">
                {% csrf_token %}
                <input type="checkbox" name="tarea_{{ tarea.id }}" {% if tarea.completada %}checked{% endif %} onchange="this.form.submit()">
                {{ tarea.titulo }}
                <br>
                {{ tarea.descripcion }}
                <br>
                Fecha de Vencimiento: {{ tarea.fecha_vencimiento }}
            </form>
        </li>
        {% endfor %}
    </ul>

    <h2>Tareas Completadas</h2>
    <ul>
        {% for tarea in tareas_completadas %}
        <li>
            {{ tarea.titulo }}
            <br>
            {{ tarea.descripcion }}
            <br>
            Fecha de Vencimiento: {{ tarea.fecha_vencimiento }}
        </li>
        {% endfor %}
    </ul>

    <h2>Subir Planos</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="planos">
            <button type="submit">Subir Planos</button>
        </form>

    <h2>Subir Contratos</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="contratos">
            <button type="submit">Subir Contratos</button>
        </form>

        <h2>Planos</h2>
        {% if proyecto.planos %}
            <a href="{{ proyecto.planos.url }}" target="_blank">{{ proyecto.planos.name }}</a>
        {% else %}
            <p>No se han subido planos para este proyecto.</p>
        {% endif %}
        
        <h2>Contratos</h2>
        {% if proyecto.contratos %}
            <a href="{{ proyecto.contratos.url }}" target="_blank">{{ proyecto.contratos.name }}</a>
        {% else %}
            <p>No se han subido contratos para este proyecto.</p>
        {% endif %}
</body>
</html>