{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Editar Proyecto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
    <meta charset="utf-8">
</head>
<body>
    <h1>Editar Proyecto</h1>
    
    <form class="form-group" method="post">
        {% csrf_token %}
       <!-- {{ form.as_p }} <!-- Trae los campos del proyecto -->
        <!-- Nombre del proyecto -->
        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
        {{ form.nombre }}
        {{ form.nombre.errors }}

         <label for="{{ form.ubicacion.id_for_label }}">ubicación:</label>
        {{ form.ubicacion }}
        {{ form.ubicacion.errors }}


        <!-- Cliente del proyecto -->
        <label for="{{ form.cliente.id_for_label }}">Cliente:</label>
        {{ form.cliente }}
        {{ form.cliente.errors }}
        <!-- Presupuesto del proyecto -->
        <label for="{{ form.presupuesto.id_for_label }}">Presupuesto:</label>
        {{ form.presupuesto }}
        {{ form.presupuesto.errors }}
        <!-- Fecha de inicio del proyecto -->
        <label for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio:</label>
        {{ form.fecha_inicio }}
        {{ form.fecha_inicio.errors }}
        <!-- Fecha de fin del proyecto -->
        <label for="{{ form.fecha_fin.id_for_label }}">Fecha fin:</label>
        {{ form.fecha_fin }}
        {{ form.fecha_fin.errors }}
        <!-- Muestra las tareas asociadas al proyecto -->
       <h2>Tareas Pendientes</h2>
        <ul class="task-list">
            {% for tarea in tareas_pendientes %}
                <li>
                    <div class="task-title">{{ tarea.titulo }}</div>
                    <div class="task-description">{{ tarea.descripcion }}</div>
                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="eliminar-tarea">Eliminar</a>
                </li>
            {% empty %}
                <li>No hay tareas pendientes.</li>
            {% endfor %}
        </ul>

        <h2>Tareas Completadas</h2>
        <ul class="task-list">
            {% for tarea in tareas_completadas %}
                <li>
                    <div class="task-title">{{ tarea.titulo }}</div>
                    <div class="task-description">{{ tarea.descripcion }}</div>
                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="eliminar-tarea">Eliminar</a>
                </li>
            {% empty %}
                <li>No hay tareas completadas.</li>
            {% endfor %}
        </ul>
        
          <h2>Planos a eliminar</h2>
            <ul class="archivos-list">
              {% for archivo in proyecto.planos.all %}
                <li>
                  <span class="archivo-icon">📁</span>
                  <label class="checkbox-label">
                    <input type="checkbox" class="archivo-checkbox" name="eliminar_archivos" value="{{ archivo.id }}">
                    {{ archivo.archivo.name }}
                  </label>
                   {% if archivo_form.errors.archivo %}
                      <span class="error-message">{{ archivo_form.errors.archivo }}</span>
                   {% endif %}
                </li>
              {% endfor %}
            </ul>
         <h2>Contratos a eliminar</h2>
        <ul class="archivos-list">
          {% for archivo in proyecto.contratos.all %}
            <li>
              <span class="archivo-icon">📁</span>
              <input type="checkbox" name="eliminar_archivos" value="{{ archivo.id }}">
              {{ archivo.archivo.name }}
              {% if archivo_form.errors.archivo %}
                <span class="error-message">{{ archivo_form.errors.archivo }}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        
        <button type="submit">Guardar Cambios</button>
    </form>

    <a href="{% url 'detalle_proyecto' proyecto.id %}" class="back_dashboard">Volver a detalles</a>
</body>
</html>
