{% load static %}

<head>
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" type="text/css" href="{% static 'controlstyle.css' %}">
</head>

<body>
  <main>
    <div class="container">
      <img src="{% static 'images/logocubico.png' %}" width="150" height="60" alt="Logo de Cúbico" id="logo" oncontextmenu="return false">

      <h1>Iniciar sesión</h1>
      <article class="form-group">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="username" id="username" class="input-field" placeholder="Usuario" autocomplete="username">
          <input type="password" name="password" id="password" class="input-field" placeholder="Contraseña">
          <div class="button-container">
            <input type="submit" id="button" value="Iniciar sesión">
        
          </div>
        </form>
            {% if error_message %}
            <p>Credenciales inválidas. Por favor, verifica tus datos.</p>
            {% endif %}
      </article>
    </div>
  </main>
</body>